{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": { "browsers": ["last 2 versions", "ie >= 11"] }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": [["minify", { "builtIns": false }]]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
